<!DOCTYPE html>
<html>
<head>
  <title>Picd.Us</title>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>   
</head>
<body id="body">
    <div id="site-wrapper">
        <div id="app_top_nav_wrapper">
            <div id="logo_top">
                <a href="/"><%= image_tag "logo-web-transparent.png" %></a>
            </div>
            <div id="app_top_nav"> 
                <div id="log_top"></div>
                <ul>
                    <li><a href="/">Contact Us</a></li>
                </ul>
        
            </div>
    
        </div>

<%= yield %>
    <%= render "devise/shared/footer" %>    
    </div>
</body>
</html>
